PRISMA_ENDPOINT="https://name-12345e6.herokuapp.com/app-dev/dev"
PRISMA_SECRET="dogsrcool"
AMAZON_API_PUBLIC="pub"
AMAZON_API_SECRET="secret"
AMAZON_AFFILIATE_TAG="aff-20"
PORT=4444

MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="mailuser"
MAIL_PASS="mailpass"
APP_SECRET="jwtsecret1234"